<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yijun He</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbpjKzAavnGEXr1mosNoVffDYvJKXdkYY"></script>
  <link rel="stylesheet" href="asset/css/main.css" />
  <script src="asset/js/index.js"></script>
</head>
<body ng-app="myApp">

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Resume</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Education<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Bachelor">Bachelor degree</a></li>
			<li class="divider"></li>
            <li><a href="#Master">Master degree</a></li>
          </ul>
        </li>
		<li><a href="#Skills">Skills</a></li>
        <li><a href="#Working">Working Experience</a></li>
        <li><a href="#Project">Project Experience</a></li>
	<li><a href="Resume_YijunHe.pdf" download>Download Resume</a></li>	
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-envelope" style="cursor:pointer" >Contact Me</a></li>
		
      </ul>
    </div>
  </div>
</nav>
<div class="container">
	<br>
	<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Contact Information</h4>
		</div>
		<div class="modal-body">
			<p><span class="glyphicon glyphicon-phone"></span>Phone Number: 520-818-8538</span></p>
			<p><span class="glyphicon glyphicon-envelope"></span>email: yh9vm@virginia.edu</p>
			<p><span class="glyphicon glyphicon-map-marker">Address: 237 Colonnade Dr. Apt #19, Charlottesville, VA, 22903</span></p>
			<p><span class="glyphicon glyphicon-link">LinkedIn: <a href="https://www.linkedin.com/in/yijun-he-956591109">https://www.linkedin.com/in/yijun-he-956591109</a></p>
			<hr>
			<h1 class="text-center">CONTACT</h1>
			</br>
			<div class="container pre-scrollable" >
				
				<form method="POST" action="email.php" class="form-horizontal" name="myFrom" ng-controller="formCtrl" novalidate>
				<div class="form-group">
					<label class="control-label col-sm-2" for="Name">Name:</label>
					<div class="col-sm-3">
						<input class="form-control" id="Name" ng-model="user.Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="CompanyName">Company Name:</label>
					<div class="col-sm-3">
						<input class="form-control" id="CompanyName" ng-model="user.CompanyName">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Email:</label>
					<div class="col-sm-3">
						<input class="form-control" id="email" ng-model="user.Email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="Position">Position:</label>
					<div class="col-sm-3">
						<input type="email" class="form-control" id="Position" ng-model="user.Position">
					</div>
				</div>
				<div class="form-group">
					<label for="exampleSelect2">Multiple wish skills list (hold ctrl or shift (or drag with the mouse) to select more than one):</label>
				</div>
				<div class="form-group" ng-app="myApp" ng-controller="DataCtrl">
					<div class="col-sm-6">
						<select  ng-model="data.model" multiple class="form-control" id="exampleSelect2">
							<option ng-repeat="option in data.availableOptions" ng-value="option.value">{{option.Language}}</option>
						</select>
					</div>
				</div>
				<div class="form-group" ng-controller="timeController">
					<label for="example-date-input" class="col-sm-2 control-label">Desired start Date</label>
					<div class="col-sm-3">
						<input class="form-control" type="date" ng-model="date" id="example-date-input">
					</div>
				</div>
				<div class="form-group">
					<label class="form-check-inline col-sm-4">
						<input class="form-check-input col-sm-1" type="checkbox" id="inlineCheckbox1" value="FullTime"> Full Time job
					</label>
					<label class="form-check-inline col-sm-4">
						<input class="form-check-input col-sm-1" type="checkbox" id="inlineCheckbox2" value="Contarct"> Contarct job
					</label>
					</div>
				<div class="form-group">
					<label for="exampleInputFile" class="control-label col-sm-2">File Upload</label>
					<input type="file" class="form-control-file col-sm-4" id="exampleInputFile" aria-describedby="fileHelp">
				</div>
				<div class="form-group">
					<label for="Textarea" class="control-label col-sm-2">Comments:</label>
				</div>
				<div class="form-group">
					<textarea class="form-control" id="Textarea" rows="7" ng-model="user.text"></textarea>
				</div>
				<div class="form-group row">
					<div class="col-sm-5">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
					<div class="col-sm-5">
						<button type="reset"  ng-click="reset()" class="btn btn-danger">Clear</button>
					</div>
				</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
	</div>
	</div>
</div>
	<div id="home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#home" data-slide-to="0" class="active"></li>
      <li data-target="#home" data-slide-to="1"></li>
      <li data-target="#home" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="images/1.jpg" width="460" height="345">
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <img src="images/2.jpg" width="460" height="345">
        <div class="carousel-caption">
        </div>
      </div>
    
      <div class="item">
        <img src="images/3.jpg" width="460" height="345">
        <div class="carousel-caption">
        </div>
      </div>
  
    </div>

    <a class="left carousel-control" href="#home" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id="Bachelor" class="container-fluid">
	<center><h1>Bachelor Science Degree</h1></center>
	<hr>
	<center><p> Entered The University of Arizona in August 2011</p>
		<p>Graduated from The University of Arizona in May 2015</p>
		<p>Bachelor of Science in Mathematics, emphasis in Applied Mathematics, GPA 3.1/4.0</p>
		<p>Bachelor of Science in Computer Science, GPA 3.1/4.0</p>
	<img src="images/UA.jpg" class="img-rounded" alt="Cinque Terre" width="70%" height="auto"></center>
	
</div>
<div id="Master" class="container-fluid">
	<center><h1>Master of Computer Science</h1></center>
	<hr>
	<center><p>Entered The University of Virginia in August 2015</p>
	   <p>Will Graudate from The University of Virginia in Dec 2016</p>
	   <p>Master of Science in Computer Science, GPA 3.3/4.0</p>
	   <img src="images/uva.jpg" class="img-rounded" alt="Cinque Terre" width="70%" height="auto"></center>
</div>
<div id="Skills" class="container-fluid pre-scrollable">
	<center><h1>Key Skills</h1></center>
	<table class="table" ng-controller="LanguagesCtrl">
		<thead>
		<tr>
			<th ng-click="orderBy('Language')">Language & Framework</th>
			<th ng-click="orderBy('Level')">Level</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="x in Languages | orderBy:OrderBy">
			<td ng-if="$odd" class="success">
			{{ x.Language }}</td>
			<td ng-if="$even" class="danger">
			{{ x.Language }}</td>
			<td ng-if="$odd" class="danger">
			{{ x.Level}}</td>
			<td ng-if="$even"  class="success">
			{{ x.Level }}</td>
		</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Application">Application:</button>
	<div id="Application" class="collapse">
	<table class="table" ng-controller="ApplicationsCtrl">
		<thead>
		<tr>
			<th ng-click="orderBy('Application')">Application</th>
			<th ng-click="orderBy('Level')">Level</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="x in Applications | orderBy:OrderBy">
			<td ng-if="$odd" class="success">
			{{ x.Application }}</td>
			<td ng-if="$even" class="danger">
			{{ x.Application }}</td>
			<td ng-if="$odd" class="danger">
			{{ x.Level}}</td>
			<td ng-if="$even"  class="success">
			{{ x.Level }}</td>
		</tr>
		</tbody>
	</table>
	</div>

</div>
<div id="Working" class="container-fluid">
	<center><h1>Working Experience</h1></center>
	<hr>
	<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Technology Analyst Intern, Deutsche Bank, June – Aug. 2016</div>
      <div class="panel-body"><p class="glyphicon glyphicon-triangle-right"> Developed showcase application using HTML, CSS, Javascript, Oracle, Tomcat and JSP</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Maintained and tested application using JAXB, Oracle, Putty, Korn Shell and XML</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Improved Angular JS, JQuery and bootstrap skills by various projects</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Gained insight into investment banking industry through 2 days training</p>
	  </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Web Developer Intern, LiJiSongDa Software Company, May – Aug. 2015</div>
      <div class="panel-body"><p class="glyphicon glyphicon-triangle-right"> Developed and maintained website using HTML, CSS, PHP and JavaScript</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Collaborated with a team of developers and QA to produce website updates</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Presented recommendations for the design of new product website to the manager</p>
	  </div>
	</div>
    <div class="panel panel-danger">
      <div class="panel-heading">Software Engineer Intern, Agricultural Bank of China, June - Aug. 2013</div>
      <div class="panel-body"><p class="glyphicon glyphicon-triangle-right"> Performed website and database system maintenance using web development skills and SQL</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Provided successful technical support to all employees through timely communication</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Analyzed and structured diverse data resources to improve financial products</p>
    </div>
	</div>
</div>
</div>
<div id="Project" class="container-fluid">
	<center><h1>Project Experience</h1></center>
	<hr>
    <div class="panel-group" id="Project_Experience">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#Project_Experience" href="#collapse1">Project Team Leader, Tower Defense Game Design, April 2014</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body"><p class="glyphicon glyphicon-triangle-right"> Assigned tasks, synthesized problems, and generated ideas to design game using JAVA</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Met with team members several times each week and made the project focus on clients</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Used Eclipse to designed GUI, Java Server to finish project around a month</p></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#Project_Experience" href="#collapse2">Project Team Member, Online Class Curriculum Sign-up System Model, Sept. 2014</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"><p class="glyphicon glyphicon-triangle-right"> Created Java programs to developed a course enroll system to help client manage their courses</p></br>
		<p class="glyphicon glyphicon-triangle-right"> •	Used Eclipse and Microsoft SQL server 2008 connect database through JDBC</p></br>
		<p class="glyphicon glyphicon-triangle-right"> Structured diverse data types and large data sets to promote scalable database</p></div>
      </div>
    </div>
</div>
</div>

<div id="footer" class="container-fluid text-center">

<center><h1>Where am I</h1></center>
<div id="googleMap" style="height:400px;width:100%;"></div>
  <a href="#home" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Resume Made By Yijun He</p>

<div>
</body>
</html>

